<div id="fb-root"></div>
<header-dir></header-dir>
<!--HERO LARGE-->
<hero-dir></hero-dir>
<!--BOOK FORM-->
<div class="lavender">
    <div class="inner-container-width uk-container-center">
        <h2>MAKE A RESERVATION</h2>
        <hr class="hr-title">
        <h3>Select a room type and set the dates.</h3>
    </div>
</div>
<div class="uk-container-center inner-container-width uk-margin-large-top uk-margin-large-bottom book">
    <form>
        <div class="uk-grid uk-grid-width-large-1-2">
            <div class="uk-margin-small-top">
                <div class="uk-width-1-1">
                    Start Date<input id="startDate" type="text" ng-model="startdate" class="uk-width-1-1 date uk-margin-small-bottom" required>
                    End Date<input id="endDate" type="text" ng-model="enddate" class="uk-width-1-1 date uk-margin-small-bottom" required>
                    Room
                    <select class="uk-width-1-1 uk-margin-small-bottom" name="txtRoom">
                        <option ng-repeat="data in cottages" value="{{data.id}}">{{data.name}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-margin-small-top">
                <div class="uk-width-1-1">
                    First Name<input type="text" ng-model="firstname" placeholder="First Name" class="uk-width-1-1  uk-margin-small-bottom" required>
                    Last Name<input type="text" ng-model="lastname" placeholder="Last Name" class="uk-width-1-1  uk-margin-small-bottom" required>
                    Mobile No<input type="text" ng-model="mobile" placeholder="Mobile No." class="uk-width-1-1  uk-margin-small-bottom" required>
                    Address<input type="text" ng-model="address" placeholder="Address" class="uk-width-1-1  uk-margin-small-bottom" required>
                    Email Address<input type="email" ng-model="email" placeholder="Email address" class="uk-width-1-1  uk-margin-small-bottom">
                    Message<textarea ng-model="message" placeholder="Message" class="uk-width-1-1" required></textarea>
                    <button ng-click="submit()" class="uk-float-right bookbtn" >BOOK NOW</button>
                </div>
            </div>
        </div>
    </form>
</div>
<footer-dir></footer-dir>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/sticky.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/slideshow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/slideset.min.js"></script>