<div id="fb-root"></div>
<header-dir></header-dir>
<hero-dir></hero-dir>
<!--FEATURED PHOTOS-->
<div id="activities" class="uk-margin-large-top inner-container-width uk-container-center">
    <featured-dir></featured-dir>
</div>
<!--ACTIVITIES-->
<activities-dir></activities-dir>

<!--FEATURED ROOMS-->
<div id="facilities" class="lavender">
    <div class="inner-container-width uk-container-center">
        <facilities-dir></facilities-dir>
        <social-feature-dir></social-feature-dir>
    </div>
</div>
<footer-dir></footer-dir>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/sticky.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/slideshow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/slideset.min.js"></script>