<h1>LIST OF BOOKINGS</h1>
<hr class="uk-margin-large-bottom">
<table id="bookings" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>No.</th>
        <th>Full Name</th>
        <th>Number</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="data in bookings">
        <td>{{$index+1}}</td>
        <td>{{data.firstname +' '+ data.lastname}}</td>
        <td>{{data.mobile}}</td>
        <td>{{data.message.substring(0,10)}}...</td>
        <td>
            <button ng-click="viewBook(data)" data-uk-modal="{target:'#viewbook'}" class="uk-button-primary uk-icon-eye "></button>
            <button ng-click="deleteBooking(data.id);" data-uk-modal="{target:'#delete'}" class="uk-button-danger uk-icon-close "></button>
        </td>
    </tr>

    </tbody>
</table>
<div id="viewbook" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-width-1-1 uk-panel info">
            Name:<h4>{{booking.firstname +' '+ booking.lastname}}</h4>
            Mobile No.: <h4>{{booking.mobile}}</h4>
            Address: <h4>{{booking.address}}</h4>
            Email: <h4>{{booking.email}}</h4>
            Start Date/time: <h4>{{booking.startDate}}</h4>
            End Date/time: <h4>{{booking.endDate}}</h4>
            Cottage <h4>{{booking.cottage}}</h4>
            Message <h4>{{booking.message}}</h4>

        </div>
    </div>
</div>
<div id="delete" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-width-1-1 uk-panel uk-text-center">
            <h2>Are you sure you want to delete this record?</h2>
            <button ng-show="!isLoadingBooking" ng-click="deleteBook()" class="uk-button-danger">Yes</button>
            <button ng-show="isLoadingBooking" class="uk-button-danger"><i class="uk-icon-spin uk-icon-spinner"></i></button>
            <button class="uk-button uk-modal-close">No</button>
        </div>
    </div>
</div>